<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IntelliFactory.Reactive" version="3.6.5.66" targetFramework="net40" />
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net40" />
  <package id="WebSharper" version="3.6.7.227" targetFramework="net40" />
  <package id="WebSharper.Formlets" version="3.6.6.73" targetFramework="net40" />
  <package id="WebSharper.Html" version="3.6.6.18" targetFramework="net40" />
</packages>