<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.2.5" targetFramework="net45" />
  <package id="IntelliFactory.Reactive" version="3.6.5.66" targetFramework="net45" />
  <package id="WebSharper" version="3.6.7.227" targetFramework="net45" />
  <package id="WebSharper.Charting" version="3.6.6.35" targetFramework="net45" />
  <package id="WebSharper.ChartJs" version="3.6.5.58" targetFramework="net45" />
  <package id="WebSharper.Data" version="3.6.5.20" targetFramework="net45" />
  <package id="WebSharper.UI.Next" version="3.6.6.202" targetFramework="net45" />
</packages>